@import './setUpAndBaseStyles.scss';

* {
    border: solid red 1px;
}


/* Header */

header {
    background-image: url(../assets/image-1.png);
    background-size: cover;
    height: 100vh;
}

.mainHeadings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    background-color: #9200ff;
    text-transform: lowercase;
    margin: 0;
    padding: 10px;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 3%;
    top: 45%;
    z-index: 10;
        a {
            margin: 5px;
        }
}

/* Main */

main {
    background-color: #0f0632;
}

h2 {
    font-size: 2.6rem;
}

.lineUp,
.experiences {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.textContainer,
.imgContainer {
    width: 50%;
}

.textContainer {
    padding: 0 100px;
}

.imgContainer {
    min-width: 600px
}

img {
    width: 100%;
}

.experiences .textContainer {
    order: 1;
    width: 50%;
}

.tickets {
    background-color: #08080B;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
        .imgContainer {
                width: 25%;
                min-width: 400px;
        }
        h2 {
            margin: 0;
        }
        .textContainer {
            width: 60%;
            padding: 0;
            margin-left: 50px;
        }
}

/* Footer */

footer {
    background-color: #3d0369;
}

